* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
}
body {
  background-color: #3f1390;
}
.wrapper {
  width: 90%;
  max-width: 25em;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 2em;
  border-radius: 0.8em;
  background: 
  linear-gradient(black 0 0) padding-box, 
  linear-gradient(to bottom,orange, black) border-box;
  border: 2px solid transparent;
  -webkit-box-shadow: 0 0px 100px rgba(255, 204, 0, 0.9);
}
.app-details {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 10em;
}

.app-title {
  font-size: 1.6em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

label {
  display: block;
  font-weight: 600;
  color: white;
}

input#amount {
  font-weight: 400;
  font-size: 1.2em;
  display: block;
  background-color: black;
  width: 100%;
  border-bottom: 2px solid yellow;
  color: white;
  margin-bottom: 2em;
  padding: 0.5em;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

select {
  width: 100%;
  padding: 0.6em;
  font-size: 1em;
  border-radius: 0.2em;
  appearance: none;
  -webkit-appearance: none; /*remove default arrow*/
  -moz-appearance: none;  /*remove default arrow*/
  background-image: url("arrow-down.svg");  /*replace with custom arrow*/
  background-repeat: no-repeat;
  background-position: right 15px top 50%, center;
  cursor: pointer;
  background-size: 20px 20px;
  background-color: #706d78;
  color: white;
}
select option {
  background-color: #ffffff;
  color: #02002c;
}
button {
  font-size: 1em;
  width: 100%;
  background-color: #706d78;
  padding: 1em 0;
  margin-top: 2em;
  border-radius: 0.3em;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}
#result {
  font-size: 1.2em;
  text-align: center;
  margin-top: 1em;
  color: #02002c;
  background-color: #fff9eb;
  padding: 0.8em 0;
}
